@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.button {
  @include mixins.flex(flex, center, center);
  width: 126px;
  height: 36px;
  border-radius: 8px;
  background: variables.$main-color;
  color: variables.$white;
  font-family: variables.$font-family;
  font-size: variables.$font-size14;
  font-weight: variables.$font-weight700;
  border: none;
  cursor: pointer;
}
.button:disabled {
  background: variables.$delete;
}