@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.bonusForm {
  padding: 31px 10px 31px 10px;
}

.h2 {
  color: variables.$main-color;
  font-family: variables.$font-family;
  font-size: variables.$font-size24;
  font-weight: variables.$font-weight800;
}

.formName, .formPhone {
  position: relative;
  @include mixins.flex(flex, center, flex-start);
  flex-direction: column;
  margin-top: 20px;
}

.nameChange, .phoneChange {
  color: variables.$price-color;
  font-family: variables.$font-family;
  font-size: variables.$font-size14;
  font-weight: variables.$font-weight700;
}

.name, .phone {
  width: 300px;
  height: 48px;
  padding: 10px 0 10px 19px;
  border-radius: 8px;
  border: 1.5px solid variables.$backg-color-del-pay;
  background: variables.$input-backg;
  margin-top: 6px;
}

.buttonChange, .buttonChangePhone {
  width: 124.38px;
  height: 48px;
  background-color: variables.$main-color;
  color: variables.$black;
  border-radius: 8px;
  font-family: variables.$font-family;
  font-size: variables.$font-size15;
  font-weight: variables.$font-weight700;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.success, .successPhone {
  font-family: variables.$font-family;
  font-size: variables.$font-size13;
  font-weight: variables.$font-weight400;
  color: variables.$success;
  margin-top: 5px;
}

.fail, .failPhone {
  font-family: variables.$font-family;
  font-size: variables.$font-size13;
  font-weight: variables.$font-weight400;
  color: variables.$fail;
  margin-top: 5px;
}

.signOut {
  @include mixins.flex(flex, center, center);
  width: 138px;
  height: 52px;
  border-radius: 8px;
  background: variables.$backg-color-del-pay;
  cursor: pointer;
  border: none;
  color: variables.$signOut;
  font-family: variables.$font-family;
  font-size: variables.$font-size16;
  font-weight: variables.$font-weight700;
  margin-top: 42px;
}

.sign {
  color: variables.$main-color;
  font-family: variables.$font-family;
  font-size: variables.$font-size24;
  font-weight: variables.$font-weight800;
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .h2 {
    font-size: variables.$font-size30;
  }

  .name, .phone {
    width: 350px;
    margin-top: 6px;
  }

  .nameChange, .phoneChange {
   margin-top: 9px;
  }

  .buttonChange, .buttonChangePhone {
    width: 116.38px;
    height: 39px;
    font-size: variables.$font-size14;
    transition: variables.$transition;
    &:hover {
      transition: variables.$transition;
      background: variables.$hover;
    }
    &:active {
      background: variables.$active;
    }
  }

  .signOut {
    transition: variables.$transition;
    &:hover {
      transition: variables.$transition;
      background: variables.$signOutLight;
    }
    &:active {
      background: variables.$signOutMoreLight;
    }
  }
}