@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.wrapper {
  padding: 30px 10px 44px 10px;
}

.h2 {
  color: variables.$main-color;
  font-family: variables.$font-family;
  font-size: variables.$font-size26;
  font-weight: variables.$font-weight800;
}

.hr1 {
  margin: 0;
  opacity: 0.2;
}

.hr {
  margin: 0;
  opacity: 0.2;
  margin-top: 20px;
}

.cardWrapper {
  margin-top: 20px;
}

.line {
  margin: 0;
  opacity: 0.2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.emptyBasket {
  color: variables.$our;
  font-family: variables.$font-family;
  font-size: variables.$font-size19;
  font-weight: variables.$font-weight700;
  text-align: center;
}

.backCheck {
  @include mixins.flex(flex, center, center);
  flex-direction: column;
  margin-top: 32px;
}

.check {
  width: 224px;
  height: 55px;
  @include mixins.flex(flex, center, center);
  gap: 14px;
  color: variables.$price-color;
  font-family: variables.$font-family;
  font-size: variables.$font-size15;
  font-weight: variables.$font-weight800;
  border-radius: 8px;
  background: #F7D22D;
  text-decoration: none;
}

.back {
  @include mixins.flex(flex, center, center);
  gap: 10px;
  color: variables.$sign-in;
  font-family: variables.$font-family;
  font-size: variables.$font-size15;
  font-weight: variables.$font-weight700;
  text-decoration: none;
  margin-top: 14px;
}

@media(min-width: 768px) {
  .backCheck {
    @include mixins.flex(flex, space-between, center);
    flex-direction: row-reverse;
  }

  .back {
    margin-top: 0;
  }
}

@media(min-width: 1200px) {
  .wrapper {
    padding: 30px 160px 69px 160px;
  }

  .check {
    transition: variables.$transition;
    &:hover {
      transition: variables.$transition;
      background: variables.$hover;
      
    }
    &:active {
      background: variables.$active;
    }
  }

  .hr1 {
    margin-top: 15px;
  }
}