@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background: variables.$backg-modal;
  z-index: 1000000;
}

.content {
  @include mixins.flex(flex, center, center);
  margin-top: 92px;
}