@use '../../styles/variables.scss';
@use '../../styles/mixins.scss';

.callOrder {
  position: relative;
  padding: 25px 20px 71px 20px;
  width: 300px;
  height: 339px;
  border-radius: 12px;
  background: variables.$white;
  box-shadow: variables.$box-shadow-content;
}

.close {
  @include mixins.flex(flex, center, center);
  position: absolute;
  width: 26px;
  height: 36.659px;
  color: variables.$main-color;
  border: 0;
  top: 8px;
  right: 12px;
  background: transparent;
  font-size: variables.$font-size67;
  font-family: variables.$font-family;
  font-weight: variables.$font-weight400;
  cursor: pointer;
}

.phone {
  width: 260px;
  height: 48px;
  border-radius: 8px;
  padding: 10px 10px 10px 13px;
  border: 1.5px solid variables.$border-color;
}

.label {
  color: variables.$burger-color;
  font-family: variables.$font-family;
  font-size: variables.$font-size13;
  font-weight: variables.$font-weight600;
}

.title {
  color: variables.$main-color;
  font-family: variables.$font-family;
  font-size: variables.$font-size21;
  font-weight: variables.$font-weight800;
  margin-top: 22px;
}

.form {
  width: 100%;
  height: 100%;
  @include mixins.flex(flex, flex-start, center);
  gap: 13px;
  flex-direction: column;
}

.text {
  color: variables.$politic;
  font-family: variables.$font-family;
  font-size: variables.$font-size9;
  font-weight: variables.$font-weight600;
}

.button {
  width: 260px;
  height: 55px;
  border-radius: 8px;
}

.error {
  color: variables.$fail;
}

.errorInput {
  border: 1px solid variables.$fail;
}