@mixin flex ($flex, $jc, $ai) {
  display: $flex;
  justify-content: $jc;
  align-items: $ai;
}

@mixin logoWidthHeight ($width, $height, $fit) {
  width: $width;
  height: $height;
  object-fit: $fit;
}