// color, background-color

$main-color: #F7D22D;
$black: #000;
$grey: grey;
$nav-link-color: #0E0C0D;
$sign-in: #696F7A;
$request-call-backg: #F3F3F7;
$color-red: #FF2E65;
$price-color: #231F20;
$title-product: #797979;
$descr-product-burger: #686466;
$border-color: #E2E2E9;
$backg-color-del-pay: #E3ECF5;
$white: #FFF;
$star: #FFC816;
$our: #0E0C0D;
$sizes: #828792;
$burger-color: #686466;
$payment-delivery: #473E43;
$overlay:  linear-gradient(0deg, rgba(247, 210, 45, 0.40) 0%, rgba(247, 210, 45, 0.40) 100%), rgba(33, 49, 52, 0.20);
$backg-modal: linear-gradient(0deg, rgba(247, 210, 45, 0.40) 0%, rgba(247, 210, 45, 0.40) 100%), rgba(33, 49, 52, 0.20);
$arrow-slider: rgba(247, 210, 45, 0.90);
$delete: lightgrey;
$box-shadow-content: 0px 4px 28px 0px rgba(0, 0, 0, 0.08), 0px 4px 28px 0px rgba(0, 0, 0, 0.08);
$hover: #F2C519;
$active: #FFDF00;
$background-active: darkgray;
$transition: 0.5s all;
$input-backg: rgba(241, 242, 245, 0.60);
$success: green;
$fail: red;
$signOut: #696F7A;
$signOutLight: #8e939c;
$signOutMoreLight: rgb(221, 228, 226);

// font-size
$font-size8: 8px;
$font-size9: 9px;
$font-size10: 10px;
$font-size11: 11px;
$font-size12: 12px;
$font-size13: 13px;
$font-size14: 14px;
$font-size15: 15px;
$font-size16: 16px;
$font-size17: 17px;
$font-size18: 18px;
$font-size19: 19px;
$font-size20: 20px;
$font-size21: 21px;
$font-size22: 22px;
$font-size24: 24px;
$font-size25: 25px;
$font-size26: 26px;
$font-size30: 30px;
$font-size32: 32px;
$font-size34: 34px;
$font-size36: 36px;
$font-size38: 38px;
$font-size44: 44px;
$font-size58: 58px;
$font-size67: 67px;

// font-weight

$font-weight400: 400;
$font-weight500: 500;
$font-weight600: 600;
$font-weight700: 700;
$font-weight800: 800;
$font-weight900: 900;

// font-family

$font-family: 'Montserrat';

// transition

$transition: 0.5s all;

// link-click-padding

$padding-click-link: 5px 20px;